<%- include('header') -%>
<%- include('banner') -%>


<!-- Highlights -->
<section class="wrapper">
		<div class="inner">
			<!-- 내 소개 -->
			<%- include('aboutMe') -%>
			<br><br><br>

			<!-- 경험 -->
			<!-- <%- include('experience') -%> -->
			<hr>

			<!-- 기술 -->
			<!-- <%- include('skill') -%> -->
			<hr>

			<!-- 지식 -->
			<!-- <%- include('knowledge') -%> -->
			<hr>

			<!-- 입상경력 -->
			<!-- <%- include('prize') -%> -->
			<hr>

			<!-- 언어 -->
			<!-- <%- include('language') -%> -->
			<hr>

			<!-- 랭킹 -->
			<!-- <%- include('ranking') -%> -->
		</div>
	</section>

	<div id="root"></div>
	
	<!-- CTA -->
	<section id="cta" class="wrapper">
		<div class="inner">
			<h1>2019 현재 관심사</h1>
			<br>
			<h3><b>자연어처리(NLP): BERT, 컴퓨터 비젼(CV): Mask R-CNN</b></h3>
			<p>
				<br>
				아래의 학회 및 사이트에서 insight를 얻고 있습니다.
				<br>
				<b>ICML</b>(International Conference on Machine Learning), <b>CVPR</b>(Computer Vision & Pattern Recognition), <b>NIPS</b>(Neural Information Processing Systems)
				<br>
				Deep Mind Blog(강화학습), <b>Arxiv</b> 논문들
			</p>
		</div>
	</section>
<%- include('footer') -%>